.DivPrincipalTelaCriarPublicacao{
    width: 550px;
    height: 460px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.ButtonAddFoto img{
    width: 70px;
    height: 70px;
    margin-top: 20px;

    margin-left: 20px

}


.ButtonAddFoto h1{
margin-left: 110px;
margin-top: -55px;
width: 200px;
}

.divInput input{
    width: 500px;
    height: 225px;
    margin-top: 20px;
    margin-left: 13px;
    border: 2px solid black;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    
}

.divInput input:focus {
    border: 2px solid #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}



/* ///////////////////////////////// */


.divButtonEnvioDeImagens button{
    width: 50px;
    height: 50px;
    margin-top: 40px;
    margin-left: 10px;
    background-color: white;
    border: none;
    cursor: pointer;

}

.divButtonEnvioDeImagens img{
    width: 54px;
    height: 54px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
}


.imagemSubir:hover{
    background-color: #b5b5b5;
}


.divButtonInferiores{
    width: 550px;
    height: 90px;
    /* border: 2px solid black; */
    margin-top: -30px;
}

.divButtonPublicar{
 margin-top: -40px;
}

.divButtonPublicar button{
    width: 120px;
    height: 30px;
    margin-left: 390px;
    margin-top: -55px;
    font-size: 15px;
    border-color: rgb(97, 164, 222) ;
    border-radius: 5px;
    color: rgb(97, 164, 222);
    cursor: pointer;
    background-color: white;
    margin-right: 0px;
    max-height: 480px;
    max-width: 550px;

}

.divButtonPublicar button:hover{
    background-color: white ;
    border-color: black;
    color: black;



}

